/*================================================

General

================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #9a3aaa;
  word-wrap: break-word;
}

header {
  background-color: #6d094b;
  color: #fff;
  padding: 0.2rem 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

header .container {
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.logo img {
  width: 60%;
  max-width: 150px;
  border-radius: 100px;
}

.titulo {
  font-family: "Press Start 2P", serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 2rem;
}
  
  
  /*================================================
  
  Score
  
  ================================================*/
  
  .score {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
  }
  
  /*================================================
  
  Stage
  
  ================================================*/
  
  .stage {
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 150px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
  
  /*================================================
  
  Tiles
  
  ================================================*/
  
  .tile {
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    transition-property:
      background,
      box-shadow,
      opacity,
      transform
    ;
    transform: translateZ(0);
    transition-duration: 3000ms;
  }
  
  .tile:before {
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    transition: opacity 300ms;
  }
  
  .tile.path:before {
    opacity: 1;
  }
  
  .tile.up:before {
    border-bottom: 4px inset rgba(255, 255, 255, 0.15);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  
  .tile.down:before {
    border-top: 4px inset rgba(255, 255, 255, 0.15);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  
  .tile.left:before { 
    border-right: 4px inset rgba(255, 255, 255, 0.15);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
  
  .tile.right:before { 
    border-left: 4px inset rgba(255, 255, 255, 0.15);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
  
  @media (max-width: 900px), (max-height: 900px) {
    .tile.up:before,
    .tile.down:before,
    .tile.left:before,
    .tile.right:before {
      border-width: 3px;
    }
  }
  
  @media (max-width: 500px), (max-height: 500px) {
    .tile.up:before,
    .tile.down:before,
    .tile.left:before,
    .tile.right:before {
      border-width: 2px;
    }
  }
  
  .tile.pressed {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
    transition-duration: 0ms;
  }
  @media (max-width: 480px) {

    header {
        height: 80px;
        width: 450px;
    }
  
    .logo img {
        width: 70%;
        max-width: 100px;
  
    }
    header .container {
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }
    header .container .titulo {
     font-size: 1rem;
    }
  
  
    button {
    margin-left: 100px;
  }
  
  }