* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #c276f3;
    word-wrap: break-word;

}

header {
    background-color: #6d094b;
    color: #fff;
    padding: 0.2rem 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;

}

header .container {
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.logo img {
    width: 60%;
    max-width: 150px;
    border-radius: 100px;
}

.titulo {
    font-family: "Press Start 2P", serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 2rem;
}


section .container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}




button {
    background-color: #e52277;
    border-radius: 20px;
    height: 100px;
    width: 300px;
    margin-top: 30vh;
    border: none;
    color: white;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #000;
    font-family: "Press Start 2P", serif;
    font-size: 2rem;
}

button:hover{
    background-color: #6d094b;
    transition: 0.5s;
}

@media (max-width: 480px) {

    header {
        height: 80px;
        width: 450px;
    }

    .logo img {
        width: 70%;
        max-width: 100px;

    }
    header .container {
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }
    header .container .titulo {
     font-size: 1rem;
    }


}